flows_raspberrypi.json
[{"id":"82301ba1.d85168","type":"tab","label":"SI7021"},{"id":"5e6b6d95.96bbc4","type":"ui_tab","z":"82301ba1.d85168","name":"Home","icon":"dashboard","order":"1"},{"id":"f0ab116d.c79b","type":"nodebot","z":"82301ba1.d85168","name":"","user
name":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluS
erver":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"4ff5e010.99539","type":"mqtt-broker","z":"82301ba1.d85168","broker":"192.168.1.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60
","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c0164c1f.9d8e3","type":"twitter-credentials","z":"82301ba1.d85168","screen_name":"@bourbon_brawler"},{"id":"c39f8d7
a.42b53","type":"http in","z":"82301ba1.d85168","name":"","url":"/temp","method":"post","swaggerDoc":"","x":99,"y":65,"wires":[["cf1b4b02.03f078","9216f895.82d5d8","667a57a2.d50a18"]]},{"id":"1442a56e.7b798b","type":"debug","z":"82301ba1.d8
5168","name":"","active":false,"console":"false","complete":"true","x":343,"y":683,"wires":[]},{"id":"5fef979f.626838","type":"http response","z":"82301ba1.d85168","name":"","x":180,"y":265,"wires":[]},{"id":"cf1b4b02.03f078","type":"functi
on","z":"82301ba1.d85168","name":"return ok","func":"msg.payload = '{\"msg\":\"ok\"}\\n\\n';\nreturn msg;","outputs":1,"noerr":0,"x":177,"y":189,"wires":[["5fef979f.626838"]]},{"id":"14f1ee3c.5fc042","type":"ui_chart","z":"82301ba1.d85168",
"tab":"5e6b6d95.96bbc4","name":"SI720 Temp","group":"Temp ","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":"2","removeOlderUnit":"3600","x":1005,"y":91,"wires":[[],[]]},{"id":"9216f895.82d5d8","type":"function","z":"82301
ba1.d85168","name":"send temp and humid","func":"var tempC = msg.payload['temperature'];\n\nvar tempF = (1.8*(tempC/100.0)+32);\n\nvar jTempC = '{\"temp\":\"'+tempC+'\"}';\n\nvar msg1 = { payload: tempF.toFixed(2)};\nvar msg2 = { payload: m
sg.payload['humidity']};\nvar msg3 = { payload: {type:'si70', temp:tempF.toFixed(2)}};\nreturn [msg1, msg2, msg3];\n","outputs":"3","noerr":0,"x":698,"y":264,"wires":[["14f1ee3c.5fc042","a9906d4b.313c5"],["a1c1c809.023cd8"],["6953c679.c6e4d
8","dfc2a9d8.9d7988"]]},{"id":"35212d4f.e09d32","type":"debug","z":"82301ba1.d85168","name":"","active":false,"console":"false","complete":"true","x":649,"y":575,"wires":[]},{"id":"a1c1c809.023cd8","type":"ui_chart","z":"82301ba1.d85168","t
ab":"5e6b6d95.96bbc4","name":"","group":"Humidity","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":992,"y":268,"wires":[[],[]]},{"id":"dfc2a9d8.9d7988","type":"johnny5","z":"82301ba1.d85168"
,"name":"OLED Screen","func":"   var oled = require('oled-js');\n    var font = require('oled-font-5x7');\n    var opts = {\n    width: 128,\n    height: 64,\n    address: 0x3D,\n    resetPin:7\n    };\n\n    var oled = new oled(board, five
, opts);\n    var led = new five.Led('GPIO24');\n\n    var si70Msg = '';\n    var bmp280Msg = '';\n    var rev = false;\n\nnode.on(\"input\", function(msg){\n    led.toggle();\n    var count = context.get('count')||0;\n    oled.clearDisplay
(true);\n\n    if(msg.payload.type == 'si70') {\n        oled.setCursor(1, 10);\n        oled.writeString(font, 1, bmp280Msg, 1, true, 2,false);\n        oled.setCursor(1, 1);\n        si70Msg = msg.payload.type+\"-\"+msg.payload.temp;\n
     oled.writeString(font, 1, si70Msg , 1, true, 2,false);\n        oled.update();\n\n    } else if(msg.payload.type == 'bmp280') {\n        oled.setCursor(1, 1);\n        oled.writeString(font, 1, si70Msg, 1, true, 2,false);\n        oled
.setCursor(1, 10);\n        bmp280Msg = msg.payload.type+\"-\"+msg.payload.temp;\n        oled.writeString(font, 1, bmp280Msg, 1, true, 2,false);\n        oled.update();\n    }\n\n    \n   context.set('count',count);\n    \n    node.send({t
opic: \"myTopic\", payload: \"test tweet from Node-Red\"});\n    \n    \n});\n\n oled.clearDisplay(true);\n","board":"f0ab116d.c79b","noerr":0,"x":716,"y":372,"wires":[[]]},{"id":"92ed33a6.06768","type":"function","z":"82301ba1.d85168","nam
e":"ws2812","func":"var r = Math.floor(Math.random() * 50) + 30;\n\nvar ws281x = global.get('ws281x');\nvar ws281xCanvas = global.get('ws281xCanvas');\n/*\ncanvas = ws281xCanvas.create(16,16);\nctx = canvas.getContext('2d');\nws281x.init(25
6);\n\nctx.fillStyle = 'blue';\nctx.fillRect(2, 2, 4, 4);\n//ws281x.reset();\n//ws281x.init(256);\nws281x.render(canvas.toUint32Array());\n*/\nvar count = context.get('count')||0;\n\n/*\nvar NUM_LEDS = 256\npixelData = new Uint32Array(NUM_L
EDS);\n\nws281x.init(NUM_LEDS);\npixelData[count] = 0x000000;\n\n\n//count += 1;\n\n\nfor (var i = 0; i < r; i++) {\n    pixelData[count] = 0x000000;\n    count++;\n    if(count > 255) count = 0;\n    \n    pixelData[count] = 0x640000;\n
 ws281x.render(pixelData);\n}\n\n*/\n\n\n// store the value back\ncontext.set('count',count);\n\n\n\nvar msg1 = { payload: count};\nvar msg2 = { payload: \"\"};\nvar msg3 = { payload: \"\"};\nreturn [msg1, msg2, msg3];","outputs":"3","noerr
":0,"x":693,"y":483,"wires":[[],[],[]]},{"id":"1cc599a7.adf646","type":"mqtt in","z":"82301ba1.d85168","name":"","topic":"/temp","qos":"2","broker":"4ff5e010.99539","x":129,"y":581,"wires":[["aff0b014.0f919"]]},{"id":"aff0b014.0f919","type"
:"json","z":"82301ba1.d85168","name":"","x":294,"y":443,"wires":[["b2b4b9e8.b6ba78","1442a56e.7b798b"]]},{"id":"8493feeb.297a6","type":"twitter out","z":"82301ba1.d85168","twitter":"c0164c1f.9d8e3","name":"Tweet","x":917,"y":509,"wires":[]}
,{"id":"b2b4b9e8.b6ba78","type":"function","z":"82301ba1.d85168","name":"","func":"var tempC = msg.payload['temperature'];\n\nvar tempF = (1.8*(tempC)+32);\nmsg.payload = {type:'bmp280', temp:tempF.toFixed(2)}\nreturn msg;","outputs":1,"noe
rr":0,"x":487,"y":493,"wires":[["35212d4f.e09d32","d45c37eb.0285c8","dfc2a9d8.9d7988"]]},{"id":"a9906d4b.313c5","type":"debug","z":"82301ba1.d85168","name":"","active":false,"console":"false","complete":"false","x":1048,"y":369,"wires":[]},
{"id":"667a57a2.d50a18","type":"debug","z":"82301ba1.d85168","name":"","active":false,"console":"false","complete":"false","x":715,"y":99,"wires":[]},{"id":"d45c37eb.0285c8","type":"ui_chart","z":"82301ba1.d85168","tab":"5e6b6d95.96bbc4","n
ame":"BMP Temp","group":"Temp","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":"2","removeOlderUnit":"3600","x":868,"y":585,"wires":[[],[]]},{"id":"6953c679.c6e4d8","type":"debug","z":"82301ba1.d85168","name":"","active":f
alse,"console":"false","complete":"false","x":1186,"y":487,"wires":[]}]